# SPDX-FileCopyrightText: 2022 Pepijn de Vos
#
# SPDX-License-Identifier: MPL-2.0

node_modules/
package-lock.json
public/js

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
node-tests.js
.idea
.lein-*
.nrepl-*
.DS_Store
.calva
.clj-kondo
.lsp

.hgignore
.hg/
